/* clear up the existing code */
/* /html body root and react should take up the height and width of the page *
/* 
use flex-box to center the whole element */

html,
body,
#root,
.react-root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* center div is centered onn page */
.centered {
  text-align: center;
}

/* BUTTONS -  */
button {
  padding: 50px;
  margin: 15px;
  border: 2px solid white;
  color: white;
  font-size: 20px;
}

/* color each button seperately */
.red {
  background-color: red;
  color: white;
}

.blue {
  background-color: blue;
  color: white;
}

.green {
  background-color: green;
  color: white;
}
